<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID permission"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewToolsMon"
        tools:targetApi="31">

        <activity
            android:name=".dashboard.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.newtoolsmon.dashboard.DashBoardMainClicks" />
        <activity android:name="com.example.newtoolsmon.whatsapp.WhatsAppWeb" />
        <activity android:name="com.example.newtoolsmon.whatsapp.DirectChat" />
        <activity android:name="com.example.newtoolsmon.clocks.StopWatch" />
        <activity android:name="com.example.newtoolsmon.clocks.AnalogClock"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.newtoolsmon.clocks.DigitalClock"
            android:screenOrientation="landscape"
            />
        <activity android:name="com.example.newtoolsmon.camera.Mirror" />
        <activity android:name="com.example.newtoolsmon.camera.QRCodeScanner" />
        <activity android:name="com.example.newtoolsmon.gps.GpsLocation" />
        <activity android:name="com.example.newtoolsmon.whatsapp.NewWhatsAppDirectChat" />
        <activity android:name="com.example.newtoolsmon.other.KotlinTorch" />
        <activity android:name="com.example.newtoolsmon.telegram.Teleweb" />
        <activity android:name="com.example.newtoolsmon.textfeatures.StylistText" />
        <activity android:name="com.example.newtoolsmon.camera.GenerateQRCode" />
        <activity android:name="com.example.newtoolsmon.other.AgeCalculator" />
        <activity android:name="com.example.newtoolsmon.textfeatures.EmojiText" />

        <activity android:name="com.example.newtoolsmon.Test"
            android:exported="true"/>
        <activity android:name="com.example.newtoolsmon.dashboard.MainActivity" />
        <activity android:name="com.example.newtoolsmon.other.ColorPicker" />
        <activity android:name="com.example.newtoolsmon.other.PrivacyPolicy" />
        <activity android:name="com.example.newtoolsmon.other.PasswordGenerator" />
        <activity android:name="com.example.newtoolsmon.textscanner.TextScannerMain" />
        <activity android:name="com.example.newtoolsmon.fancytext.FancyText" />
        <activity android:name="com.example.newtoolsmon.other.RandomNumberGenerator" />
        <activity android:name="com.example.newtoolsmon.other.HashGenerator" />
        <activity android:name="com.example.newtoolsmon.other.ColorTorch" />
        <activity android:name="com.example.newtoolsmon.other.BMICalculator"
            android:exported="true"
            />
        <activity android:name="com.example.newtoolsmon.memorysenitizer.EraserMain"
            android:exported="true"
            />
        <activity android:name="com.example.newtoolsmon.blackboard.BlackBoardMain" />
        <activity android:name=".textencydecy.TextEncypDecry" />
        <activity android:name="com.example.newtoolsmon.unitconvert.ConversionsActivity" />

    </application>

</manifest>